<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load widget_tweaks %}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-sm-4" style=""></div>
        <div class="col-sm-4" style=""></div>
        <div class="col-sm-4" style=""></div>
    </div>
    <h2>Sistema de Ingreso de Vales.</h2>

    <div class="row">
        <div class="col-sm-4">
            <p>Usuario: <strong>{{request.user.username}}</strong></p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <a class="btn btn-warning pull-right" href="{% url 'logoutIntranet'%}">Salir!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style=""></div>
        <div class="col-sm-4" style="">

            <form method="post" novalidate>
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control is-valid" %}
                            {% endif %}
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Ingresar Vale!</button>
            </form>


        </div>
        <div class="col-sm-4" style=""></div>
    </div>


</div>


</body>
</html>